<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="robots" content="index,follow">

	<title><%= @item[:title] %> - CentOS DOJO</title>

	<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://wiki.centos.org/wiki/modern-CentOS/css/common.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" media="screen" href="http://wiki.centos.org/wiki/modern-CentOS/css/screen.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" media="print" href="http://wiki.centos.org/wiki/modern-CentOS/css/print.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" media="projection" href="http://wiki.centos.org/wiki/modern-CentOS/css/projection.css">

	<!-- css only for MSIE browsers -->
	<!--[if IE]>
	   <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://wiki.centos.org/wiki/modern-CentOS/css/msie.css">
	<![endif]-->
</head>

<body  lang="en" dir="ltr">
	<div id="header">
		<div id="logo">
			<a href="/FrontPage"><img src="http://wiki.centos.org/wiki/common/modern-CentOS-logo.png" alt="CentOS">| DOJO</a>
		</div>

		<ul class="navibar">
			<li class="wikilink current"><a href="/Places">Places</a></li>
			<li class="wikilink"><a href="/Registration">Registration</a></li>
		</ul>

		<div class="pageline">
			<hr style="display:none;">
		</div>
	</div>

	<div id="locationline">
		<ul id="pagelocation">
			<li>&nbsp;</li>
		</ul>
	</div>

	<div id="page" lang="en" dir="ltr">
		<div dir="ltr" id="content" lang="en">
			<span class="anchor" id="top"></span>

			<%= yield %>

			<div id="pagebottom">
			</div>
		</div>

		<div id="footer">

			<div class="pageline">
				<hr style="display:none;">
			</div>

			<div class="navibar">
			</div>

			<div id="credits">
				<strong><a rel="license" href="http://www.centosdojo.org/">www.centosdojo.org</a></strong>
			</div>
		</div>
	</div>
</body>
</html>
